@import 'colors';
@import 'typography';

body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: $font-lexend-family;
    font-weight: $font-lexend-weight;
    font-size: 0.9375em;
    color: $very-light-gray-background;
    padding: 0;
    margin: 0;

    main {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        min-height: 100vh;

        article {
            flex: 1;
            display: flex;
            flex-direction: row;
            max-width: 800px;
            margin: 10px;
            
            section {
                display: flex;
                flex-direction: column;
                align-content: space-evenly;
                padding: 40px 30px;

                h1 {
                    font-family: $font-big-shoulders-family;
                    font-weight: $font-big-shoulders-weight;
                    text-transform: uppercase;
                    font-size: (0.9375rem) * 2;
                }

                p {
                    padding-bottom: 80px;
                    line-height: 150%;
                }

                button {
                    padding: 10px;
                    border-radius: 20px;
                    border: none;
                    border: 2px solid;
                    width: 70%;
                    font-family: $font-lexend-family;
                    font-weight: $font-lexend-weight;
                }
            }

            section.sedan {
                background-color: $bright-orange;

                img {
                    color: $bright-orange;
                }

                button {
                    color: $bright-orange;
                }

                button:hover {
                    border: 2px solid;
                    border-color: $very-light-gray-buttons;
                    background-color: $bright-orange;
                    color: $very-light-gray-buttons;
                    cursor: pointer;
                }
            }

            section.suv {
                background-color: $dark-cyan;
                mix-blend-mode: soft-light;

                button {
                    color: $dark-cyan;
                }

                button:hover {
                    border: 2px solid;
                    border-color: $very-light-gray-buttons;
                    background-color: $dark-cyan;
                    color: $very-light-gray-buttons;
                    cursor: pointer;
                }
            }

            section.luxury {
                background-color: $very-dark-cyan;
                mix-blend-mode: soft-light;

                button {
                    color: $very-dark-cyan;
                }

                button:hover {
                    border: 2px solid;
                    border-color: $very-light-gray-buttons;
                    background-color: $very-dark-cyan;
                    color: $very-light-gray-buttons;
                    cursor: pointer;
                }
            }
        }
    }

    footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 15px 0;
    
        span {
            color: $very-dark-cyan;
            text-align: center;
    
            a {
                color: $very-dark-cyan;
            }
        }
    }
}